@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  /* COLORS */
  --DarkestGray: hsl(217, 19%, 35%);
  --DarkGray: hsl(214, 17%, 51%);
  --LightGray: hsl(212, 23%, 69%);
  --BasicallyWhite: hsl(210, 46%, 95%);
  /* FONT SIZE */
  --ParagraphFontSize: 0.8125rem;

  /* FONT FAMILY */
  --Manrope: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Manrope);
  transition: all 0.3s ease;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--BasicallyWhite);
}

main {
  max-width: 20.3125rem;
  background-color: white;
  border-radius: 0.625rem;
}

.drawers {
  width: 100%;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 12.5rem;
  object-fit: cover;
}

.bottom-half {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.text {
  padding: 1.75rem 1.875rem 1.25rem 2rem;
}

.title {
  color: var(--DarkestGray);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.9375rem;
}

.desc {
  color: var(--DarkGray);
  font-size: 0.8125rem;
  max-width: 16.0625rem;
  line-height: 1.25rem;
}

.before-click {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 1.875rem 0.875rem 2rem;
  position: relative;
}

.after-click-left-desktop {
  position: absolute;
  display: none;
  align-items: center;
  background-color: var(--DarkestGray);
  top: -3.125rem;
  right: -4.75rem;
  padding: 0.9375rem 2rem 0.9375rem 2rem;
  border-radius: 0.625rem;
  box-shadow: 0rem 0.1875rem 0.5rem -0.125rem rgba(0, 0, 0, 0.85);
}

.triangle {
  position: absolute;
  bottom: -0.75rem;
  right: 50%;
  width: 0.9375rem;
}

.left-area {
  display: flex;
}

.profile {
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  margin-right: 0.75rem;
  cursor: pointer;
}

.profile:hover {
  box-shadow: 0rem 0.1875rem 0.9375rem 0rem rgba(0, 0, 0, 0.8);
}

.social-text-section {
  font-size: var(--ParagraphFontSize);
}

.name {
  font-weight: 700;
  color: hsl(217, 17%, 45%);
}

.date {
  color: var(--LightGray);
}
.share-button {
  width: 2.1875rem;
  height: 2.1875rem;
  padding: 0.625rem;
  object-fit: contain;
  border-radius: 50%;
  background-color: var(--BasicallyWhite);
  cursor: pointer;
}

.share-button:hover {
  box-shadow: 0rem 0.1875rem 1.125rem -0.3125rem rgba(0, 0, 0, 0.8);
}

/* SOCIALS AFTER CLICK */
.after-click {
  background-color: var(--DarkestGray);
  padding: 0.625rem 1.875rem 0.875rem 2rem;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.after-click-left {
  display: flex;
  align-items: center;
}

.share-text {
  text-transform: uppercase;
  color: var(--LightGray);
  letter-spacing: 0.3125rem;
  font-size: 0.875rem;
  margin-right: 0.625rem;
}

.icon-section {
  display: flex;
  align-self: center;
  gap: 0.9375rem;
}

.facebook,
.twitter,
.pinterest {
  cursor: pointer;
}

.second-share-button {
  width: 2.1875rem;
  height: 2.1875rem;
  padding: 0.625rem;
  object-fit: contain;
  border-radius: 50%;
  background-color: var(--DarkGray);
  cursor: pointer;
}

/* MEDIA QUERY */
@media (width >= 46.875rem) {
  main {
    display: flex;
    max-width: 41.5625rem;
  }

  .drawers {
    width: 35%;
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: auto;
    object-fit: cover;
  }

  .after-click {
    border-bottom-left-radius: 0rem;
    padding: 0.6875rem 1.875rem 0.875rem 2rem;
  }

  .title {
    color: var(--DarkestGray);
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .desc {
    max-width: 21.875rem;
  }
}
